version: '3'
services:
  consul-s:
    image: consul
    container_name: consul-s
    network_mode: host
    environment:
      - 'CONSUL_LOCAL_CONFIG={"skip_leave_on_interrupt": true}'
      - SERVICE_IGNORE=true
    ports:
      - 8300:8300
      - 8301:8301
      - 8301:8301/udp
      - 8302:8302
      - 8302:8302/udp
      - 8400:8400
      - 8500:8500
      - 53:53/udp
    volumes:
      - ./consul/config:/consul/config
      - ./consul/data:/consul/data
    command: "agent -server -bootstrap-expect 3 -node=s-int122 -bind=*.*.*.122  -client=0.0.0.0 -datacenter=poc"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "10"
    #logging:
    #  driver: "none"
  registrator:
    image: gliderlabs/registrator:master
    container_name: registrator
    network_mode: host
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
    #command: "-ip=*.*.*.122 -useIpFromLabel=kongip -internal consul://localhost:8500"
    command: "-ip=*.*.*.122 consul://localhost:8500"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "10"
  zoo:
        image: zookeeper
        #image: daf7547036e2
        container_name: zoo
        hostname: zoo
        restart: always
        ports:
            - 2181:2181
            - 2888:2888
            - 3888:3888
        extra_hosts:
            #- "TMP-POC-AP01:*.*.*.122"
            - "TMP-POC-AP02:*.*.*.124"
            - "TMP-POC-AP03:*.*.*.146"
        environment:
            SERVICE_2888_IGNORE: 'true'
            SERVICE_3888_IGNORE: 'true'
            KAFKA_HEAP_OPTS: -Xmx512M -Xms512M
            ZOO_MY_ID: 1
            #ZOO_SERVERS: server.1=0.0.0.0:2888:3888 server.2=TMP-POC-AP02:2888:3888 server.3=TMP-POC-AP03:2888:3888
            ZOO_SERVERS: server.1=0.0.0.0:2888:3888;2181 server.2=TMP-POC-AP02:2888:3888;2181 server.3=TMP-POC-AP03:2888:3888;2181
        logging:
          driver: "json-file"
          options:
             max-size: "50m"
             max-file: "10"
  kafka1:
        image: openjdk:8-jdk-slim
        container_name: kafka1
        hostname: kafka1
        restart: always
        ports:
          - 9092:9092
        extra_hosts:
            - "TMP-POC-AP01:*.*.*.122"
            - "TMP-POC-AP02:*.*.*.124"
            - "TMP-POC-AP03:*.*.*.146"
        environment:
            - SERVICE_NAME=kafka
            - SERVICE_TAGS=kafka
        volumes:
            - /usr/share/zoneinfo/Asia/Taipei:/usr/share/zoneinfo/Asia/Taipei
            - /usr/share/zoneinfo/Asia/Taipei:/etc/localtime/
            - /var/maxwin/kafka/kafka-2.5.0:/var/maxwin/kafka
            - /data/kafka-data:/data/kafka-data
        working_dir: /var/maxwin/kafka
        command: ["bin/kafka-server-start.sh", "config/server.properties"]
        logging:
          driver: "json-file"
          options:
             max-size: "50m"
             max-file: "10"
  maxguide-fleetmng:
    image: cxhjet/fleetmng
    container_name: maxguide-fleetmng_python3.6
    restart: always
    network_mode: bridge
    environment:
      #  python程序通^@量找到consul
      CONSUL_HTTP_ADDR: *.*.*.122:8500
      WEB_PORT : 30004
      DATABASE_NAME : maxbus
      #  系统权限名称
      SYSTEM_NAME : maxguide
      # true自釉]缘kong，false 不]
      # 注意：值truer，需要ports中O定的韧IPO橄嗟
      KONG_AUTO_REGISTER: 'true'
      CONSUL_AUTO_REGISTER: 'false'
      LOG_LEVEL: 20
      #AUTH_TYPE: ${AUTH_TYPE}
      SERVICE_IGNORE: 'true'
    ports:
      - 30004:80
    volumes:
      - /usr/share/zoneinfo/Asia/Taipei:/usr/share/zoneinfo/Asia/Taipei
      - /usr/share/zoneinfo/Asia/Taipei:/etc/localtime/
      - /etc/timezone:/etc/timezone
      - ./conf/fleetmng/supervisord.conf:/etc/supervisor.d/supervisord.conf
      #- ./conf/fleetmng/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /var/maxguide-fleetmng
    # command: ["python3","run.py"]
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "10"